*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

html, body{
    line-height: 1.6;
    overflow-x: hidden;
}

:root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 8rem;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 66;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navlinks a {
   color: var(--Grayish-Blue);
}

.navbar button{
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    color: var(--White);
    background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    cursor: pointer;
}

.top-Section{
    background-color: var(--Very-Light-Gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mockupImage {
    position: relative;
    top: -50px;
    right: -120px;
    z-index: 33;
    width: 90%;
}

.firsectionImage {
    position: absolute;
    width: 70%;
    top: -130px;
    right: -200px;
    z-index: 1;
} 

.firstSection{
    width: 50%;
    padding: 8rem;
}

.firstSection h1{
    font-size: 45px;
    font-weight: 300;
    line-height: 1;
    color: var(--Dark-Blue);
}

.firstSection p{
    margin: 20px 0;
    font-size: 18px;
    font-weight: 300;
    color: var(--Grayish-Blue);
}

.firstSection button{
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    color: var(--White);
    background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    cursor: pointer;
}

.secondSecond {
    padding: 4rem  7rem;
    background-color: var(--Light-Grayish-Blue);
    position: relative;
    top: -210px;
}

.secondSectionText{
    width: 55%;
}

.secondSectionText p {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 300;
    color: var(--Grayish-Blue);
}

.secondSectionText h1{
    font-size: 40px;
    font-weight: 300;
    color: var(--Dark-Blue);
}

.secondSectionIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 40px;
}

.secondSectionIcons h3{
    margin: 20px 0;
    font-size: 22px;
    font-weight: 400;
    color: var(--Dark-Blue);
}

.secondSectionIcons p{
    font-size: 16px;
    font-weight: 400;
    color: var(--Grayish-Blue);
}

.thirdSection {
    padding: 5rem  7rem;
    margin-top: -20%;
    background-color: var(--Very-Light-Gray);
}

.thirdSection h1{
    font-size: 35px;
    font-weight: 400;
    margin: 20px 0;
    color: var(--Dark-Blue);
}

.thirdSectionIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.thirdSectionIcon img{
   margin: 20px 0;
}

.thirdSectionIcon h3{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 400;
    color: var(--Dark-Blue);
}

.thirdSectionIcon h3:hover{
    color: #2FC697;
}

.thirdSectionIcon p{
    font-size: 16px;
    font-weight: 400;
    color: var(--Grayish-Blue);
}

.footerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7rem;
    background-color: var(--Dark-Blue);
}

.logoPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.footerLinks {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.footerLinks a{
    color: var(--White);
    font-size: 15px;
    font-weight: 400;
    color: var(--Light-Grayish-Blue);
}

.footerLinks li{
    margin: 10px 0;
}

.footer-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    color: var(--White);
}

.bottomp{
   font-size: 14px;
   color: var(--Grayish-Blue);
}

.footer-btn button{
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    color: var(--White);
    background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
    cursor: pointer;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:992px) {
    .mockupImage {
        right: 0px;
        top: -20px;
        width: 100%;
    }
    
    .firsectionImage {
        right: 0px;
        width: 65%;
    }
    
    .firstSection{
        width: 70%;
        padding: 3rem;
    }

    .secondSecond {
        top: -120px;
        padding:10rem 4rem;
    }

    .secondSectionText{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .secondSectionIcons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .thirdSectionIcon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 100px;
    }

    .thirdSection {
        padding: 5rem  4rem;
        margin-top: -10%;
    }
}

